.search-bar-container {
  position: relative;
  .search-bar-input {
    width: 100%;
    padding-left: 5rem;
    border: $border-search;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    color: $text-heading-2;

    &::placeholder {
      font-size: 1.5rem;
      font-weight: 500;
      color: $header-text;
    }
  }
  .search-bar-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
  }
}
