.things-to-carry-container {
  margin-top: 2rem;
  .group {
    font-weight: 500;
    color: $sub-heading-color-dark;
    // padding-bottom: 3.5rem;
    &:not(:first-child) {
      margin-top: 2rem;
    }
    &:not(:last-child) {
      border-bottom: $border-light;
      // margin-bottom: 2rem;
    }
  }
  .group-title {
    font-size: 1.6rem;
  }
  .group-items {
    margin-top: 2.2rem;
    display: flex;
    flex-wrap: wrap;
  }
  .group-item {
    display: flex;
    margin-right: 5rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }
  .group-item-icon {
    margin-right: 1.2rem;
  }
}
